<%- include header.ejs %>

<div class="header-right">
    <br>
    <span>你好,管理员&nbsp;&nbsp;</span>
          <span>
            <a href="/logout">退出</a>
          </span>
</div>

<div class="box-1">
    <div class="modal-header" style="background:#F5F5F5">
        <span class="h4-1">用户管理&nbsp;&nbsp;&nbsp;</span>
        <a class="btn btn-2" href="/add_user"> + 添加用户</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="bold">
            <td>编号</td>
            <td>用户名</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <% var num = 0; users.forEach(function(user){ num++; %>
        <tr>
            <td>
                <%= num %>
            </td>
            <td>
                <%= user['name'] %>
            </td>
            <td>
                <a href="/show_delete_user_confirm?name=<%= user.name %>">删除</a>
                <a href="/create_admin_session?name=<%= user.name %>">修改密码</a>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <div class="modal-footer">
        <%- paginator%>
    </div>
</div>
<% if(delete_user == 'clicked'){ %>
<div class="modal hide" id="change_success" style="display: block;">
    <div class="modal-body">
        <a class="close" href="/close_delete_user_confirm">×</a>
        <div class="text-center">
          <span style="font-size:20px">
            确定删除用户&nbsp;<%= delete_user_name %>&nbsp;吗？
          </span>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" href="/delete_user">确定</a>
    </div>
</div>
<% } %>
<%- include footer.ejs %>