<%- include user_header.ejs %>

<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/user_index">首页</a>
        <span>
          &nbsp;/&nbsp;
          <a href="/bid_list?activity_name=<%= activity_name %>&sign_ups_num=<%= sign_ups_num %>">竞价列表</a>
        </span>
        <span>
          &nbsp;/&nbsp;
          竞价1
        </span>
    </div>
</div>
<div class="box-2">
    <div class="modal-header" style="background:#F5F5F5">
        <br>
        <% if(bid_result.status == 'ongoing'){ %>
        <div class="h4-2">
            活动正在进行...
        </div>
        <% } %>

        <% if(bid_result.status == 'fail'){ %>
        <div class="h4-2">
            本次竞价无人胜出
        </div>
        <% } %>

        <% if(bid_result.status == 'success'){ %>
        <div class="h4-2">
            <p> 获胜者：<%= bid_result.name %> </p>

            <p> 出价：<%= bid_result.price %>元 </p>

            <p> 手机号：<%= bid_result.phone %> </p>
        </div>
        <% } %>
        <br>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td class="bolder-1" colspan="2">
                出价列表
            </td>
            <td class="bolder-2" colspan="2">
                <a href="/price_statistics?sign_ups_num=<%= sign_ups_num %>">
                    价格统计
                </a>
            </td>
        </tr>
        <tr class="bold">
            <td class="wid-25">
                编号
            </td>
            <td class="wid-25">
                姓名
            </td>
            <td class="wid-25">
                价格/元
            </td>
            <td class="wid-25">
                手机号
            </td>
        </tr>
        </thead>
        <tbody>
        <% var num = 0;bid_result.bid_people.forEach(function(bid_person){num++; %>
        <tr>
            <td>
                <%= num %>
            </td>
            <td>
                <%= bid_person.name %>
            </td>
            <td>
                <%= bid_person.price %>
            </td>
            <td>
                <%= bid_person.phone %>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <div class="modal-footer"></div>
</div>

<%- include footer.ejs %>