<%- include header.ejs%>
<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/admin_index">首页</a>
        <span>
          &nbsp;/&nbsp;修改用户密码
        </span>
    </div>
</div>
<div class="modal fade in" style="background:#F5F5F5;margin-top:5%">
    <div class="index-login position-3">
        <br>
        <br>
        <form accept-charset="UTF-8" action="update_password" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="vXPajfIHadMmM+3/y46zut7auUB9X2cnjZuImt88XRE="></div>    <div class="input-prepend">
                <label class="add-on-1" for="user_帐号">帐号</label>
                <input class="add-on-2" disabled="disabled" name="<%= name%>" placeholder= <%= name%> type="text">
            </div>
            <div class="input-prepend">
                <label class="add-on-1" for="user_密码">密码</label>
                <input class="wid-350"  name="password" placeholder="请输入新密码" type="password">
            </div>
            <div class="input-prepend">
                <label class="add-on-1" for="user_请确认密码">请确认密码</label>
                <input class="wid-350"   name="password_confirmation" placeholder="请再次输入" type="password">
            </div>
            <div class="btn-danger active">
                <%= error%>
            </div>
            <div>
                <input class="btn" id="submit" name="commit" style="width:150px" type="submit" value="确认修改">
            </div>
        </form>
    </div>
</div>

<%- include footer.ejs%>