<%- include user_header.ejs %>
<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/user_index">首页</a>
        <span>
          &nbsp;/&nbsp;
          <a href="/bid_list?activity_name=<%= bid_result.activity_name%>&sign_ups_num=<%= sign_ups_num %>">竞价列表</a>
        </span>
        <span>
          &nbsp;/&nbsp;
          竞价1
        </span>
    </div>
</div>
<div class="box-2">
    <div class="modal-header" style="background:#F5F5F5">
        <br>
        <% if(bid_result.status == 'ongoing'){ %>
        <div class="h4-2">
            活动正在进行...
        </div>
        <% } %>

        <% if(bid_result.status == 'fail'){ %>
        <div class="h4-2">
            本次竞价无人胜出
        </div>
        <% } %>

        <% if(bid_result.status == 'success'){ %>
        <div class="h4-2">
            <p> 获胜者：<%= bid_result.name %> </p>

            <p> 出价：<%= bid_result.price %>元 </p>

            <p> 手机号：<%= bid_result.phone %> </p>
        </div>
        <% } %>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td class="bolder-3">
                <a href="/bid_detail?activity_name=<%= bid_result.activity_name%>&bid_name=<%= bid_result.bid_name%>&sign_ups_num=<%= sign_ups_num%>">
                    出价列表
                </a>
            </td>
            <td class="bolder-4">
                价格统计
            </td>
        </tr>
        <tr class="bold">
            <td>
                价格/元
            </td>
            <td>
                人数
            </td>
        </tr>
        </thead>
        <tbody>
        <% prices_list.forEach(function(price_list){%>
        <tr>
            <td>
                <%= price_list.price%>
            </td>
            <td>
                <%= price_list.num%>
            </td>
        </tr>
        <% })%>
        </tbody>
    </table>
    <div class="modal-footer"></div>
</div>
<%- include footer.ejs %>