<%- include user_header.ejs %>

<div class="row row-style">
    <div class="col-md-8 position-2">
        <a href="/user_index">首页</a>
        <span>
          &nbsp;/&nbsp;报名列表
        </span>
    </div>
</div>

<div class="box-2">
    <div class="modal-header" style="background:#F5F5F5">
        <div class="left h4-1">
            报名列表
        </div>
        <div class="right">
            <a href="/bid_list?activity_name=<%= activity_name%>&sign_ups_num=<%= sign_ups_num%>">竞价列表</a>
        </div>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="bold">
            <td>编号</td>
            <td>姓名</td>
            <td>手机号</td>
        </tr>
        </thead>
        <tbody>
        <% var num=0;sign_ups.forEach(function(sign_up){num++;%>
        <tr>
            <td>
                <%= num%>
            </td>
            <td>
                <%= sign_up.name%>
            </td>
            <td>
                <%= sign_up.phone%>
            </td>
        </tr>
        <% })%>
        </tbody>
    </table>
    <div class="modal-footer">

    </div>
</div>
<%- include footer.ejs %>
