<%- include header.ejs%>
    <div id="show_area">
        <div class="box-1" id="show">
            <% if (syn_show_info.activity_status=='yellow'){%>
            <div class="modal-header" style="background:#F5F5F5 ">
                <br>
                <div class="h4-2">
                    <p style="font-size:30px">
                        <%= syn_show_info.activity_name%>
                    </p>
                    <p style="font-size:20px">
                        参与人数
                        <%= syn_show_info.bid_people.length%>
                        /
                        <%= syn_show_info.sign_ups_num%>
                    </p>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr class="bold">
                    <td>
                        姓名
                    </td>
                    <td>
                        电话
                    </td>
                </tr>
                </thead>
                <tbody>
                <% syn_show_info.bid_people.forEach(function(bid_person){%>
                <tr>
                    <td>
                        <%= bid_person.name%>
                    </td>
                    <td>
                        <%= bid_person.phone%>
                    </td>
                </tr>
                <% })%>
                </tbody>
            </table>
            <div class="modal-footer">
            </div>
            <% } %>
            <% if(syn_show_info.activity_status=='dis_ongoing'){%>
            <div class="modal-header" style="background:#F5F5F5 ">
                <br>
                <% if(bid_winner=='fail'){%>
                <div class="h4-2">
                    <p style="font-size:30px">
                        竞价失败！
                    </p>
                </div>
                <% }%>
                <% if(bid_winner!='un_get' && bid_winner!='fail'){%>
                <div class="h4-2">
                    <p style="font-size:30px">
                        <%= bid_winner.activity_name%>
                    </p>
                    <br>
                    <p style="font-size:25px">
                        竞价结果：&nbsp;
                        <%= bid_winner.name%>&nbsp;￥<%= bid_winner.price%>&nbsp;<%= bid_winner.phone%>
                        &nbsp;竞价成功！
                    </p>
                </div>
                <% }%>
            </div>
            <% }%>
        </div>
    </div>
<%- include footer.ejs%>
