<%- include user_header.ejs %>
<div class="box-1">
    <div class="modal-header" style="background:#F5F5F5">
        <div class="left">
            <span class="h4-1">活动信息</span>
        </div>
        <div class="right">
            <a class="btn" href="/syn_show">同步展示</a>
        </div>
        <br>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="bold">
            <td>编号</td>
            <td>活动名称</td>
            <td>报名人数</td>
            <td>竞价次数</td>
        </tr>
        </thead>
        <tbody>
        <% var num = 0; user_infos.forEach(function(user_info){ num++; %>
        <tr>
            <td>
                <%= num %>
            </td>
            <td>
                <a href="/bid_list?activity_name=<%= user_info.activity_name%>&sign_ups_num=<%= user_info.sign_ups_num%>">
                    <%= user_info.activity_name %>
                </a>
            </td>
            <td>
                <a href="/sign_up_list?activity_name=<%= user_info.activity_name%>&sign_ups_num=<%= user_info.sign_ups_num%>">
                    <%= user_info.sign_ups_num %>
                </a>
            </td>
            <td>
                <a href="/user_index"><%= user_info.bids_num %></a>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <div class="modal-footer">

    </div>
</div>

<%- include footer.ejs %>